
<div class="dashboard-body">
    <div class="product-list container ">
        <div class="row">

{{#each products as |product|}}
            <div class="col-xl-3 col-lg-4 col-md-4  col-12">
                <div class="card mt-5 border-info" style="width: 18rem;">
                     <img class="card-img-top img-fluid" src="{{this.image}}" alt="Card image cap">
                    <div class="card-body ">
                        <h5 class="card-title">{{this.name}}</h5>
                        Description:<p class="card-text">{{this.description}}</p>
                         Price:<h3 class="card-text">{{this.price}}</h3>
                    
                        <a href="checkout" class="btn btn-success">Buy Now</a>
                    </div>
                </div>
            </div>
{{/each}}
           
        </div>

    </div>
</div>